<nav class="navbar navbar-expand-lg navbar-light bg-light "><!--navbar starts-->
  <a class="navbar-brand pl-5 ml-5" href="#">Github Repo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"><!--collapse navbar starts-->
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
    </ul>    
    
    <form class="form-inline my-2 my-lg-0">
            <div class="form-group">
              <input type="email" class="form-control form-control form-control-sm ml-5" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <input type="password" class="form-control form-control form-control-sm ml-3" id="exampleInputPassword1" placeholder="Password">
            
            <button type="submit" class="btn btn-primary ml-3 btn-sm">Submit</button>
            </div>
    </form>
  </div><!--collapse navbar ends-->
</nav><!--navbar ends-->




      
        <footer class="page-footer orange">
      
        </footer>
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src="github.js"></script>
        <script src="ui.js"></script>
        <script src="app.js"></script>